body {
    margin: 0 50px;
}
h1 {
    text-align: center;
}
section {
    padding: 10px;
    width: 82vw;
    min-width: 50vw;
}
section > section {
    padding: 0;
    width: 44vw;
    min-width: 30vwj;
}
#homepage-response {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}
.recipe-cards {
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    position: relative;
    margin: 10px;
}
.delBtn { /* https://stackoverflow.com/questions/56210419/how-to-add-x-close-button-onto-upper-right-corner-of-uk-modal-popup/56210509 */
    font-size: 30pt;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    display: inline-block;
    padding: 6px 14px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(117, 0, 0);
}
.delBtn:hover {
    font-weight: bold;
}

.recNames {
    color: #0275d8;
}

.recNames:hover {
    color: #5cb85c;
    cursor: pointer;
}

#editStep, #addStep, #cancelUpdateBtn, #step-entry-fields, #saveStepBtn, #getStepBtn, #step-num-entry-field, #findStepBtn {
    display: none;
}

.updateBtns {
    margin: 0 10px;
}

#createBtn {
    margin-left: 10px;
}